* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
color: black;
}

.main {
    background-image: url("assets/image/background.jpg");
    height: 100vh;
    background-position: center center;
    background-size: max(1000px, 100vw);
    background-repeat: no-repeat;
    position: relative;
}

nav {
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 25px;
    align-items: center;
}

nav span img {
    color: rgb(255, 0, 0);
    position: relative;
    z-index: 10;
}

nav button {
    border: 2px solid;
    border-radius: 6px;
    padding: 10px 18px;
    background-color: rgb(228, 16, 16);
    color: white;
    border: none;
    font-weight: bold;
    position: relative;
    z-index: 10;
}
nav button:hover{
    cursor: pointer;
}
.firstbox {
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.50;
    position: absolute;
    top: 0px;
}

.tittle {
    padding: 2px;
    text-align: center;
    justify-content: center;
    color: white;
    position: relative;
    z-index: 10;
    margin-top: 10%;
    font-size: 2.8em;
    font-weight: 800;
    font-family: Helvetica, sans-serif;
}

.div1 {
    text-align: center;
    justify-content: center;
    color: white;
    position: relative;
    z-index: 10;
    font-weight: 25px;
    font-size: 1.5rem;
    font-family: Helvetica, sans-serif;
    margin-top: 2%;
}

.div2 {
    text-align: center;
    justify-content: center;
    color: white;
    z-index: 10;
    position: relative;
    font-weight: 25px;
    font-size: 1.5rem;
    font-family: Helvetica, sans-serif;
    margin-top: 1%;
}
.span{
   margin-top: 5%;
   justify-content: center;
   text-align: center;
}
.span>span>input{
    border: none;
    border: 1px solid gray;
    padding: 18px;
    width: 30vw;
    background-color: rgb(20, 19, 19);
    opacity: 0.60;
    border-radius: 4px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 20;
    font-weight: 50px;
    font-size: 1em;
}
.start{
    border: 1px solid;
    border: none;
    border-radius: 5px;
    background-color: rgb(228, 16, 16);
    color: white;
    padding: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    position: relative;
    z-index: 10;
    font-weight: 700;
    margin-left: 0.4%;
}
.start:hover{
    cursor: pointer;
}
.first{
    background-color: black;
    border-top: 8px solid rgb(58, 56, 56);
    border-bottom: 8px solid rgb(58, 56, 56);
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 8%;
    gap: 4%;
}
.heading > span {
    color: white;
    font-weight: 800;
    font-size: 3em;
    font-family: Helvetica ,sans-serif;
}
.heading > p{
    color:white;
    font-weight:initial;
    font-size: 1.5rem;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;  
    margin-top: 4%;
}
.first > img{
    position: relative;
}
.first > video{
    margin-left: 37%;
    position: absolute;
}
.second{
    background-color: black;   
    border-bottom: 8px solid rgb(58, 56, 56);
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 7.5%;
    gap: 5%;
}
.secheading > span{
    color: white;
    font-weight: 900;
    font-size: 2.8em;
    font-family: Helvetica ,sans-serif;
}
.second > img {
    width: 43vw;
    padding-bottom: 4%;
    position: relative;
}
.secheading > p{
    color:white;
    font-weight:initial;
    font-size: 1.5rem;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;  
    margin-top: 2%;
}
.secbox{
    border: 2px solid rgb(58, 56, 56);
    position: absolute;
    padding: 10px 15px;
    margin-top: 18%;
    left: 18.2%; 
    border-radius: 15px;
    background-color: black;
    font-family: Helvetica ,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.box{
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
.box > p{
   color: rgb(56, 103, 255);
   font-size: 0.8rem;
   padding-top: 5px;
}
.third{
    background-color: black;   
    border-bottom: 8px solid rgb(58, 56, 56);
    height: auto;
    width: auto;
  padding: 9% 52% 9% 15%;
    text-align: left;
}
.thirdhead > span{
    color: white;
    font-family: Helvetica ,sans-serif ;
    color: white;
    font-weight: 900;
    font-size: 2.8em;
}
.thirdhead > P{
    color:white;
    font-weight:initial;
    font-size: 1.5rem;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;  
    margin-top: 3%;  
}
.fourth{
    background-color: black;   
    border-bottom: 8px solid rgb(58, 56, 56);
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 7.5%;
    gap: 4%;
}
.fourthhead > span{
    color: white;
    font-family: Helvetica ,sans-serif ;
    color: white;
    font-weight: 900;
    font-size: 2.8em; 
}
.fourthhead > p {
    color:white;
    font-weight:initial;
    font-size: 1.5rem;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;  
    margin-top: 2%;
}
.fifth{
    background-color: black;   
    border-bottom: 8px solid rgb(58, 56, 56);
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6% ;
    flex-direction: column;
    gap: 10px;
}
.fifthhead > span{
    color: white;
    font-family: Helvetica ,sans-serif ;
    color: white;
    font-weight: 900;
    font-size: 2.8em;
}

.asdfghnbvcxz{
    width: 70vw;
    border: 1px solid;
    border: none;
    background-color:rgb(43, 41, 41);
    color: white;
    font-family: Helvetica ,sans-serif;
    padding: 20px;
    padding-bottom: 27px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}
.asdfghnbvcxz>svg{
    cursor: pointer;
}
.asdfghnbvcxa>svg{
    cursor: pointer;
}
.asdfghnbvcxs>svg{
    cursor: pointer;
}
.asdfghnbvcxd>svg{
    cursor: pointer;
}
.asdfghnbvcxf>svg{
    cursor: pointer;
}
.asdfghnbvcxg>svg{
    cursor: pointer;
}
.asdfghnbvcxa{
    width: 70vw;
    border: 1px solid;
    border: none;
    background-color:rgb(43, 41, 41);
    color: white;
    font-family: Helvetica ,sans-serif;
    padding: 20px;
    padding-bottom: 27px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}
.asdfghnbvcxs{
    width: 70vw;
    border: 1px solid;
    border: none;
    background-color:rgb(43, 41, 41);
    color: white;
    font-family: Helvetica ,sans-serif;
    padding: 20px;
    padding-bottom: 27px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}
.asdfghnbvcxd{
    width: 70vw;
    border: 1px solid;
    border: none;
    background-color:rgb(43, 41, 41);
    color: white;
    font-family: Helvetica ,sans-serif;
    padding: 20px;
    padding-bottom: 27px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}
.asdfghnbvcxf{
    width: 70vw;
    border: 1px solid;
    border: none;
    background-color:rgb(43, 41, 41);
    color: white;
    font-family: Helvetica ,sans-serif;
    padding: 20px;
    padding-bottom: 27px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}
.asdfghnbvcxg{
    width: 70vw;
    border: 1px solid;
    border: none;
    background-color:rgb(43, 41, 41);
    color: white;
    font-family: Helvetica ,sans-serif;
    padding: 20px;
    padding-bottom: 27px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    
}
.qwertyu{
    color:white;
    font-weight:initial;
    font-size: 1.3rem;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;  
    margin-top: 40px;
}
.iopasdfg>input{
    border: none;
    border: 1px solid gray;
    padding: 18px;
    width: 30vw;
    background-color: rgb(20, 19, 19);
    opacity: 0.60;
    border-radius: 4px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 2;
    font-weight: 50px;
    font-size: 1em;
}
.hjklzxcvbn{
    border: 1px solid;
    border: none;
    border-radius: 5px;
    background-color: rgb(228, 16, 16);
    color: white;
    padding: 12px;
    width: 15vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    position: relative;
    z-index: 10;
    font-weight: 700;
    margin-left: 10px;
}
.hjklzxcvbn:hover{
    cursor: pointer;
}
.zxcvbnm{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
footer{
    background-color: black;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(131, 126, 126);
    font-family: Arial, Helvetica, sans-serif;
    gap: 100px;
    padding: 2%;
}
.qwerasdf :nth-child(1){
     margin-top: 10px;
    text-decoration: underline;
}
.qwerasdf :nth-child(1):hover{
    cursor: pointer;
    color: blue;
}
.qwerasdf :nth-child(2){
     margin-top: 25px;
     text-decoration: underline;
}
.qwerasdf :nth-child(2):hover{
    cursor: pointer;
    color: blue;
}
.qwerasdf :nth-child(3){
     margin-top: 25px;
     text-decoration: underline;
}
.qwerasdf :nth-child(3):hover{
    cursor: pointer;
    color: blue;
}
.qwerasdf :nth-child(4){
     margin-top: 25px;
     text-decoration: underline;
}
.qwerasdf :nth-child(4):hover{
    cursor: pointer;
    color: blue;
}
.qwerasdf :nth-child(5){
     margin-top: 25px;
     text-decoration: underline;
}
.qwerasdf :nth-child(5):hover{
    cursor: pointer;
    color: blue;
}
.qwerasdf :nth-child(7){
     margin-top: 40px;
     text-decoration: underline;
}
.qwerasdf :nth-child(7):hover{
    cursor: pointer;
    color: blue;
}
.qwerasdf :nth-child(6){
     margin-top: 25px;
      border: 1px solid rgb(107, 104, 104); 
      justify-content: center;
      text-align: center;
      border-radius: 6px;
      padding: 10px 15px;
      color: white;   
}
.qwerasdf :nth-child(6):hover{
    cursor: pointer;

}
.edtdgfjounbvcg :nth-child(1){
      margin-top: 5px;
      text-decoration: underline;
}
.edtdgfjounbvcg :nth-child(1):hover{
    cursor: pointer;
    color: blue;
}
.edtdgfjounbvcg :nth-child(2){
      margin-top: 25px;
      text-decoration: underline;
}
.edtdgfjounbvcg :nth-child(2):hover{
    cursor: pointer;
    color: blue;
}
.edtdgfjounbvcg :nth-child(3){
      margin-top: 25px;
      text-decoration: underline;
}
.edtdgfjounbvcg :nth-child(3):hover{
    cursor: pointer;
    color: blue;
}
.edtdgfjounbvcg :nth-child(4){
      margin-top: 25px;
      text-decoration: underline;
}
.edtdgfjounbvcg :nth-child(4):hover{
    cursor: pointer;
    color: blue;
}
.retuhbmnclkowr :nth-child(1){
    margin-top: 5px;
    text-decoration: underline;
}
.retuhbmnclkowr :nth-child(1):hover{
    cursor: pointer;
    color: blue;
}
.retuhbmnclkowr :nth-child(2){
    margin-top: 25px;
    text-decoration: underline;
}
.retuhbmnclkowr :nth-child(2):hover{
cursor: pointer;
color: blue;
}
.retuhbmnclkowr :nth-child(3){
    margin-top: 25px;
    text-decoration: underline;
}
.retuhbmnclkowr :nth-child(3):hover{
    cursor: pointer;
    color: blue;
}
.retuhbmnclkowr :nth-child(4){
    margin-top: 25px;
    text-decoration: underline;
}
.retuhbmnclkowr :nth-child(4):hover{
    cursor: pointer;
    color: blue;
}
.lkjhsvcbmzhduwie :nth-child(1){
    margin-top: 5px;
    text-decoration: underline;
}
.lkjhsvcbmzhduwie :nth-child(1):hover{
    cursor: pointer;
    color: blue;
}
.lkjhsvcbmzhduwie :nth-child(2){
    margin-top: 25px;
    text-decoration: underline;
}
.lkjhsvcbmzhduwie :nth-child(2):hover{
    cursor: pointer;
    color: blue;
}
.lkjhsvcbmzhduwie :nth-child(3){
    margin-top: 25px;
    text-decoration: underline;
}
.lkjhsvcbmzhduwie :nth-child(3):hover{
    cursor: pointer;
    color: blue;
}

